$field-color: rgba(255, 255, 255, 0.08);
$field-height: 65px;
$field-border-radius: 8px;

$range-handle-color: rgb(255, 255, 255) !default;
$range-handle-color-hover: rgb(212, 212, 212) !default;
$range-handle-size: 20px !default;

$range-track-color: rgba(255, 255, 255, 0.314) !default;
$range-track-height: 2px !default;

$range-label-width: 60px !default;

.rangeSlider {
    position: relative;
    width: 100%;
    height: calc(#{$field-height} - 10px);
    display: flex;
    justify-content: center;
    align-items: center;
    background: $field-color;
    border-radius: $field-border-radius;
    margin: 30px 0;

    &::before,
    &::after {
        position: absolute;
        color: #fff;
        font-size: 0.9rem;
        font-weight: bold;
    }

    &::before {
        content: attr(data-min);
        left: 10px;
    }

    &::after {
        content: attr(data-max);
        right: 10px;
    }

    >div::after {
        content: attr(data-length);
        position: absolute;
        right: -16px;
        font-variant-numeric: tabular-nums;
        color: #fff;
    }

    >input {
        -webkit-appearance: none;
        width: calc(100% - (#{$range-label-width + 10px}));
        height: $range-track-height;
        border-radius: 5px;
        background: $range-track-color;
        outline: none;
        padding: 0;
        margin: 0;
        cursor: pointer;

        // Range Handle
        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            width: $range-handle-size;
            height: $range-handle-size;
            border-radius: 50%;
            background: $range-handle-color;
            cursor: pointer;
            transition: all 0.15s ease-in-out;
        
            &:hover {
                background: $range-handle-color-hover;
                transform: scale(1.2);
            }
        }

        &::-moz-range-thumb {
            width: $range-handle-size;
            height: $range-handle-size;
            border: 0;
            border-radius: 50%;
            background: $range-handle-color;
            cursor: pointer;
            transition: background 0.15s ease-in-out;
        
            &:hover {
                background: $range-handle-color-hover;
            }
        }
    }
}